.App {
    height: 100vh;
}

.sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightseagreen;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display:none;
    }

    > *{
        width: 100vw;
        height: calc(100vh - 70px);
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }

}

.page {
    margin: 0 auto;
    max-width: 65em;
}

h3 {
    padding-bottom: 0.5em;
}

p {
    line-height: 1.6;
}

body {
    color:rgb(46, 46, 54);
}

strong {
    color: #333;
}